<ion-modal-view>
    <ion-header-bar class="bar bar-header" ng-controller="ConsultingAutoCtrl">
        <h1 class="title">人工智能自动答诊</h1>
        <button class="button button-icon icon ion-close" ng-click="$root.consultingAutoModal.hide()"></button>
    </ion-header-bar>

    <ion-content class="has-header">
        <div class="item  item-divider" style="font-style: italic;font-size: small">
            推荐结果来自人工智能知识库，机器学习，推演并推荐结果,可供辅助诊断,请参考：
        </div>
        <div class="list">
            <div class="item item-divider">
                #健康指导：
            </div>

            <a class="item item-avatar" href="#">
                <h3>{{$root.consultEinstrMpres.einame}}</h3>
                <p>{{$root.consultEinstrMpres.eicontent}}</p>
            </a>

            <div class="item item-divider">
                ##处方：
            </div>
            <a class="item item-avatar" href="#">
                <!--<h3>{{$root.consultEinstrMpres.mpname}}</h3>-->
                <p>{{$root.consultEinstrMpres.mpcontent}}</p>
            </a>
            <button class="button button-block icon-left ion-android-search" ng-disabled="true" ng-click="getInferedConsultInfo()">其它推荐</button>
        </div>
    </ion-content>
</ion-modal-view>