<ion-modal-view ng-controller="ConsultingCtrl" ng-init="">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">诊断</h1>

        <button class="button button-icon icon ion-close" ng-click="consultingModal.hide()"></button>

    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    患者姓名:
                </div>
                <select ng-change="setUserInfoSelected(selectedUserInfo)" ng-options="item as item.name for item in userInfos track by item.id" ng-model="selectedUserInfo"></select>

                </select>
            </label>
            <div class="item item-input item-select">
                <div class="input-label">
                    患者舌像:
                </div>
                <img style="height: 100px;width: 100px;" ng-src='http://localhost:8080/td/uploads/timage2017-03-02-23-01-52-198.jpg' zoom-src="http://localhost:8080/td/uploads/timage2017-03-02-23-01-52-198.jpg" zoom-view />
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    舌诊仪数据:
                </div>
                <select ng-options="item as item.detailId for item in itemInfos track by item.id" ng-model="selectedItemInfo"></select>

                </select>

                <div class="row header">
                    <div class="col">舌形:{{itemDetail.shexing}}</div>
                    <div class="col">舌色:{{itemDetail.shese}}</div>
                    <div class="col">苔色:{{itemDetail.taise}}</div>
                </div>
            </label>
            <div class="item item-input item-select">
                <div class="input-label">
                    专家指导:
                </div>
                <select ng-options="item as item.name for item in instructions track by item.id" ng-model="selectedInstruction"></select>

                </select>
                <button ng-click="$root.newInstructionModal.show()">+</button>
            </div>
            <label class="item item-input item-select disabled">
                <div class="input-label">
                    专家指导详情:
                </div>
                <select ng-disabled="true" ng-options="item as item.content for item in instructions track by item.id" ng-model="selectedInstruction"></select>

                </select>

            </label>
            <div class="item item-input item-select">
                <div class="input-label">
                    处方:
                </div>
                <select ng-options="item as item.name for item in pescriptions track by item.id" ng-model="selectedPescription"></select>
                <button ng-click="$root.newPrescriptionModal.show()">+</button>
            </div>
            <label class="item item-input item-select disabled">
                <div class="input-label">
                    处方详情:
                </div>
                <select ng-options="item as item.content for item in pescriptions track by item.id" ng-model="selectedPescription"></select>

            </label>
            <button class="button button-dark  button-block icon-left ion-android-send" ng-click="createConsultInfo()">提交</button>
        </div>
    </ion-content>
</ion-modal-view>