<ion-modal-view ng-controller="ConsultingCtrl" ng-init="">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">诊断</h1>

        <button class="button button-icon icon ion-android-bulb" ng-click="getConsultEinstrMpres(0)">
        </button>
        <button class="button button-icon icon ion-close" ng-click="consultingStaticModal.hide()"></button>

    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input disabled">
                <div class="input-label disabled">
                    患者姓名:
                </div>
                <p>{{$root.selectedUserInfo.name}}</p>
            </label>
            <div class="item item-input" ng-show="false">
                <div class="input-label">
                    患者舌像:
                </div>
                <img style="height: 100px;width: 100px;" ng-src='{{$root.selectedItemInfo.timage}}' zoom-src="{{$root.selectedItemInfo.timage}}" zoom-view />
            </div>
            <label class="item item-input" ng-show="true">
                <div class="input-label">
                    舌象颜色空间色值:
                </div>
                <table class="friends">
                    <tr>
                        <th>RGB</th>
                        <th>HSV</th>
                        <th>Lab</th>
                        <th>舌体颜色</th>
                        <th>舌苔颜色</th>
                    </tr>
                    <tr>
                        <td data-th="RGB">{{$root.selectedItemDetail.rgbR | number:2 }},{{$root.selectedItemDetail.rgbR | number:2 }},{{$root.selectedItemDetail.rgbB | number:2 }}</td>
                        <td data-th="HSV">{{$root.selectedItemDetail.hsvH | number:2}},{{$root.selectedItemDetail.hsvS  | number:2}},{{$root.selectedItemDetail.hsvV | number:2}}</td>
                        <td data-th="Label">,{{$root.selectedItemDetail.labL  | number:2}},{{$root.selectedItemDetail.labA  | number:2}},{{$root.selectedItemDetail.labB  | number:2}}</td>
                        <td data-th="舌体颜色">{{$root.selectedItemDetail.sheseF}}</td>
                        <td data-th="舌苔颜色">{{$root.selectedItemDetail.taiseF}}</td>
                    </tr>
                </table>
            </label>
            <div class="item item-input" ng-show="false">
                <div class="input-label">
                    舌诊结果:
                </div>
                <p>{{$root.selectedItemDetail.jieguo}}</p>
            </div>
            <label class="item item-input" ng-show="true">
                <div class="input-label">
                    舌象特征:
                </div>
                <table class="friends">
                    <tr>

                        <th>舌苔厚薄</th>
                        <th>舌苔润燥</th>
                        <th>胖瘦</th>
                        <th>齿痕</th>
                        <th>裂纹</th>
                        <th>瘀斑</th>
                    </tr>
                    <tr>

                        <td data-th="舌苔厚薄">{{$root.selectedItemDetail.houbaoF}}</td>
                        <td data-th="舌苔润燥">{{$root.selectedItemDetail.runzaoF}}</td>
                        <td data-th="胖瘦">{{$root.selectedItemDetail.pangshouF}}</td>
                        <td data-th="齿痕">{{$root.selectedItemDetail.chihenF}}</td>
                        <td data-th="裂纹">{{$root.selectedItemDetail.liewenF}}</td>
                        <td data-th="瘀点">{{$root.selectedItemDetail.yubanF}}</td>
                    </tr>
                </table>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    专家指导:
                </div>
                <!--
                <button ng-click="$root.newInstructionModal.show()">+</button>
                -->
                <select ng-options="item as item.content for item in $root.allInstructions track by item.id" ng-model="$root.selectedInstruction" ng-change="updateInstructionSelected()"></select>

            </label>
            <div class="item item-input item-select">
                <div class="input-label">
                    处方:
                </div>
                <select ng-options="item as item.content for item in $root.allPrescriptions track by item.id " ng-model="$root.selectedPrescription" ng-change="updatePrescriptionSelected()"></select>
                <!--
                <button ng-click="$root.newPrescriptionModal.show()">+</button>
                -->
            </div>

            <label class="item item-input item-select  disabled">
                <div class="input-label">
                    处方详情:
                </div>
                <select ng-options="item as item.content for item in $root.allPrescriptions track by item.id" ng-model="$root.selectedPrescription" ></select>

            </label>
            
            <button class="button button-dark  button-block icon-left ion-android-checkbox-outline" ng-click="createConsultInfo()">答诊</button>
            <button class="button button-dark  button-block icon-left ion-android-print" ng-click="printConsultInfo()" ng-disabled="!$root.selectedConsultInfo">打印预览</button>
        </div>
    </ion-content>
</ion-modal-view>