<ion-modal-view>
    <ion-header-bar class="bar bar-header" ng-controller="ConsultingAutoCtrl">
        <h1 class="title">人工智能自动答诊</h1>
        <button class="button button-icon icon ion-close" ng-click="$root.consultingAutoModal.hide()"></button>
    </ion-header-bar>

    <ion-content class="has-header">
        <div class="item  item-divider" style="font-style: italic;font-size: small">
            人工智能推荐，辅助诊断,供参考：
        </div>
        <div class="list">
            <div class="item item-divider">
                #健康指导：
            </div>

            <a class="item item-avatar" href="#">
                <h2>{{$root.consultInfofull.eInstruction.name}}</h2>
                <p>{{$root.consultInfofull.eInstruction.content}}</p>
            </a>

            <div class="item item-divider">
                ##处方：
            </div>
            <a class="item item-avatar" href="#">

                <h2>{{$root.consultInfofull.mPrescription.name}}</h2>
                <p>{{$root.consultInfofull.mPrescription.content}}</p>
            </a>
            <button class="button button-block icon-left ion-android-search" ng-click="getConsultInfo()">开始推荐</button>
        </div>
    </ion-content>
</ion-modal-view>