<ion-view title="健康指导" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="page4-list1">
      <ion-item class="item-avatar item-icon-right" id="page4-list-item2">
        <h2>专家1指导</h2>
        <i class="icon ion-android-done"></i>
        <ion-option-button class="button-positive">已读</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="page4-list-item3">
        <h2>专家2指导</h2>
      </ion-item>
      <ion-item class="item-avatar" id="page4-list-item4">
        <h2>专家3指导</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>