
.idea/inspectionProfiles/
img/
node_modules/electron/dist/Electron.app/Contents/Resources/am.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ar.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/bg.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/bn.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ca.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/cs.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/da.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/de.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/el.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/en.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/en_GB.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/es.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/es_419.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/et.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fa.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fi.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fil.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/gu.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/he.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/hi.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/hr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/hu.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/id.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/it.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ja.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/kn.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ko.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/lt.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/lv.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ml.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/mr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ms.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/nb.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/nl.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/pl.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/pt_BR.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/pt_PT.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ro.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ru.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sk.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sl.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sv.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sw.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ta.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/te.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/th.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/tr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/uk.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/vi.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/zh_CN.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/zh_TW.lproj/
